body {
  font-family:'Roboto';
  padding: 0;
  margin: 0;
  color: $maincolor;
}

.container {
  text-align: center;
  padding: 12% 1%;
  width:98%;
  max-width:980px;
  margin: 0 auto;
}

h2 {
  padding-bottom: 5%;
  font-size: 1.8em;
  font-weight:400;
  max-width: 500px;
  margin:0 auto;
  font-family: 'Neucha', cursive;
}

.main_description {
  padding-bottom: 5%;
  padding-top:-2%;
  font-size: 1em;
  max-width: 500px;
  margin:0 auto;
}