$break-small-mobile: 320px;
$break-mobile: 480px;
$break-small-tablet: 768px;
$break-tablet: 1024px;
$break-desktop: 1280px;
$break-large-desktop:1600px;

@mixin respond-to($media) {
  @if $media == small-mobile {
    @media only screen and (max-width: $break-small-mobile) {
      @content;
    }
  } @else if $media == mobile {
    @media only screen and (max-width: $break-mobile) {
      @content;
    }
  } @else if $media == small-tablet {
    @media only screen and (max-width: $break-small-tablet) {
      @content;
    }
  } @else if $media == tablet {
    @media only screen and (max-width: $break-tablet) {
      @content;
    }
  } @else if $media == desktop {
    @media only screen and (max-width: $break-desktop) {
      @content;
    }
  } @else if $media == from-desktop {
    @media only screen and (min-width: $break-large-desktop) {
      @content;
    }
  }
}