$bodycolor: #67b2c8;
$linkcolor: #fbdd62;
$linkcolorhover: #fffeff;

$maincolor: #2e2e2e;
$maincolorhover: red;

$button: #fbdd62;
$buttonhover: #2e2e2e;

$game: white;

$input: grey;
$inputbg: #bcdde7;

$transition: all 0.5s ease-in-out;
$mainfs: 14px;

@mixin fs {
  font-size: $mainfs;
  @include respond-to(tablet) {
    font-size: 13px;
  };
  @include respond-to(mobile) {
    font-size: 12px;
  };
}

@mixin before {
  content: '';
  position: absolute;
  display: block;
}

@mixin clearfix {
  &::after {
    content: "";
    overflow: hidden;
    display: table;
    clear: both;
  }
}

@mixin container {
  width:98%;
  padding:0 1%;
  max-width: 900px;
  margin:0 auto;
}

